ADDR=:4000

# PostgreSQL
DB_ADDR=postgres://admin:adminpassword@localhost/echonet?sslmode=disable
DB_MAX_OPEN_CONNS=30
DB_MAX_IDLE_CONNS=30
DB_MAX_IDLE_TIME=15m

# Redis (optional, set REDIS_ENABLED=true to use)
REDIS_ENABLED=false
REDIS_ADDR=localhost:6379
REDIS_PW=
REDIS_DB=0

# Rate Limiter
RATE_LIMITER_ENABLED=true
RATE_LIMIT_REQUESTS_PER_TIME_FRAME=20

# Auth
AUTH_BASIC_USER=admin
AUTH_BASIC_PASS=admin
AUTH_TOKEN_SECRET=supersecretjwtkey

# App
ENV=development
EXTERNAL_URL=localhost:4000
FRONTEND_URL=localhost:4000

# SendGrid
SENDGRID_API_KEY="your_sendgrid_api_key"
SENDGRID_FROM_EMAIL=noreply@example.com
